html {
    font-size: 18px;
    font-family: "Euclid";
    background-color: var(--color-background-app);
}

body{
    font-family: "Euclid";
}

// targets div in which the svelte app gets inserted 
// ie. direct child of body
body > div{
    display: flex;
    justify-content: center;
}

// rem is always related to root element i.e. html
// pixel to rem -> pixels / rootFontSize 18px in our case