html {
    font-size: 18px;
    font-family: "Euclid";
    background-color: var(--color-primary);
}

body{
    font-family: "Euclid";
}

// rem is always related to root element i.e. html
// pixel to rem -> pixels / rootFontSize 18px in our case