.link {
    // stroke: #000;
}

.greyed-link{
    stroke: var(--color-text-default);
    stroke-width: 0.5;
    opacity: 0.05;
}

.editing-link{
    stroke-dasharray: 5 10;
}

.node {
    cursor: pointer;
}

.unselectable{
    cursor: auto;
    pointer-events: none;
}

// .selected circle{
//     fill: #ffaa00 !important;
// }

// .node.fixed {
//     fill: #f00;
// }